
section.cases 
    .container
        h4.title.cases__title Кому уже помогли
        .swiper.cases__slider.js-sliderCases
            .swiper-wrapper 
                each item, i in ['Анастасия Рыжакова','Валентина Крючкова','Анна Комарова','Елизавета Обухова']
                    .swiper-slide.slide 
                        figure.slide__fotobox
                            img.slide__foto(src=`img/pacient-${i}.webp`, alt="#")
                        .slide__content
                            span.slide__name= item 
                            .text.slide__text Спасибо, вы подарили полноценную жизнь!
                            .text.slide__textfull 
                                | Анастасия - невероятная женщина, чья история вдохновляет многих. В её жизни нашлось место для борьбы и победы над раком щитовидной железы. Эта история исцеления служит примером силы духа и решимости.
                                br
                                br
                                | В момент диагноза Анастасия была переполнена страхом и неопределенностью. Однако, её упорство было несокрушимым. Она приняла вызов, начала лечение и полностью доверила себя команде медицинских профессионалов.
                                br
                                br
                                | Анастасия не только прошла через сложные медицинские процедуры, но и научилась ценить жизнь на новом уровне. Её оптимизм и живой пример вдохновляют не только близких, но и многих других, сталкивающихся с подобными трудностями.
                                br
                                br
                                | Сегодня Анастасия - победительница, символ надежды и силы. Её история напоминает нам о том, что, несмотря на все трудности, с верой и поддержкой, мы можем преодолеть самые сложные испытания в жизни.
                            .slide__morebox
                                button.slide__morebtn.js-toFullCase(data-fancybox=`case${i}` data-src="#full-case") Узнать больше
            .swiper-pagination
    

    
