footer.footer
	.container 
		.footer__box
			.footer__logobox 
				img.footer__logo(src="img/footer-logo.svg", alt="@")
				.footer__social     
					include ./_social.pug
			.footer-contacts 
				span.footer-contacts__val Режим работы: 10:00-20:00
				a.footer-contacts__phone(href="tel:") + 7 (977) 777-77-77
				a.footer-contacts__email(href="mailto:prodlevaya.jizni@mail.ru") prodlevaya.jizni@mail.ru
			.footer-info 
				span.footer-info__val ИНН: 9704131461
				span.footer-info__val КПП: 770401001
				span.footer-info__val ОГРН/ОГРНИП: 1227700194963
		.footer-dev
			a.footer-dev__link(href="#") Политика конфиденциальности
			a.footer-dev__logo(href="https://scrum360.ru/") 
				img(src="img/footer-logo.png", alt="@" width="100px")
