section.history 
    .container 
        .history__box
            .history__content 
                h3.title.history__title История фонда
                p.text.history__text Благотворительный Фонд "Доброе Сердце Хабенского" был основан в 2005 году в небольшом городе Хабенском, расположенном в самом сердце России. История Фонда началась с того, что местный предприниматель, Александр Хабенский, решил вернуть своему родному городу и его обществу часть своего успеха и благосостояния.
                p.text.history__text Фонд начал свою деятельность с небольших благотворительных мероприятий, направленных на поддержку местных школ, больниц и социальных программ. Постепенно, благодаря активной работе и поддержке сообщества, Фонд "Доброе Сердце Хабенского" стал одним из важнейших социальных игроков в регионе.
                p.text.history__text Фонд активно поддерживает образовательные и культурные программы, финансирует ремонт и обновление школ и больниц, оказывает помощь нуждающимся семьям и местным благотворительным организациям. Кроме того, он организует регулярные акции по сбору средств и помощи тем, кто оказался в беде, в том числе помощь при стихийных бедствиях.
                p.text.history__text С годами Фонд "Доброе Сердце Хабенского" стал примером того, как местное сообщество может объединить усилия для решения своих собственных проблем и поддержания доброты и солидарности. Он продолжает расти и развиваться, принося надежду и помощь тем, кто в ней нуждается, и доказывая, что добро может изменить мир к лучшему.
            img.history__foto(src="img/foto-1.webp", alt="@")