.home
    .container
        .home__content 
            h1.title.home__title Благотворительный фонд #[br] «ПРОДЛЕВАЯ ЖИЗНИ»
            p.home__text Помогая фонду, вы протягиваете руку помощи #[br] тем, у кого нет времени ждать
            button.button.home__button(data-fancybox="support-form1" data-src="#support-form") Я хочу помочь
    .home__decor
    img.home__img(src="img/handle.webp", alt="@")