-
    const projects = [
        {foto: 'foto-0.webp', text1: 'В России ежегодно <b>более 70 000 женщин</b> сталкиваются с раком молочной железы, и <b>более 22 000</b> из них умирают из-за него. Рак молочной железы <b>является излечимым</b> при раннем выявлении, и маммография, проводимая опытными специалистами, помогает выявить его на ранних стадиях. Необходимо #[b увеличить охват скринингом] (маммографией) населения, чтобы снизить смертность от рака молочной железы', text2: '<b>Привлечь 100% женщин</b> на маммографию это должно сохранить жизнь минимум <b>6 000 женщин в год</b>', text3: 'С помощью различных каналов коммуникации о необходимости выполнения ежегодного мамографического исследования проинформировано более 1 000 000 женщин <br><br> Проведен фестиваль Подари маме жизнь в ПКиО им. Л. Н. Толстого в г. Химки'},
        {foto: 'foto-0-1.webp', text1: '<b>Ежегодно в России более 10,000 человек заболевают раком щитовидной железы.</b> Во многих регионах, включая Московскую и Владимирскую области, недостаточно специалистов в онкологии и цитологии для биопсии щитовидной железы и анализа тканей. Своевременная биопсия, выполненная опытным онкологом и проанализированная высококвалифицированным цитологом, играет решающую роль в точном диагнозе и лечении пациента.', text2: '<b>Cделать доступными биопсии узловщитовидной железы</b> для жителей России, в первуюочередь, для жителей Московской области, Владимирской, Тверской области', text3: 'Более 17,000 человек прошли успешную биопсию щитовидной железы, выявлен рак у более 1200 человек. Лечение проходили в "Национальном медико-хирургическом центре" при Федеральном государственном бюджетном учреждении Министерства здравоохранения России'}
    ]

section.projects 
    .container 
        h2.title.projects__title Мы работаем над проектами
        .tabs 
            .tabs__header 
                button.tabs__button.js-tabBtn 
                    span.tabs__name Подари маме жизнь
                button.tabs__button.js-tabBtn
                    span.tabs__name Ранняя диагностика #[br] рака щитовидной железы
                .runner
            each item, i in projects
                .tabs__content
                    .project 
                        img.project__foto(src="img/" + item.foto, alt="@")
                        .project__content 
                            p.text.project__text !{item.text1}
                            h6.project__title Цель проекта:
                            p.text.project__text !{item.text2}
                            h6.project__title Сделано:
                            p.text.project__text !{item.text3}  
                            a.button.project__button(data-fancybox=`support-form${i+2}` data-src="#support-form") Помочь проекту
