.support__donat 
    h4.title.support__title Поддержите нас
    p.support__text Мы не сможем решать социальные проблемы без вашей помощи. Вы — наша главная ценность. Мы будем благодарны, если вы оформите в пользу «Нужна помощь» регулярное пожертвование и встанете рядом с нами
    p.support__donattitle Выберите тип и сумму пожертвования
    form.donat-form(action="#")
        .donat-form__labels
            each item, i in ['Ежемесячное пожертвование', 'Разовое пожертвование', '100 ₽','500 ₽','1 000 ₽','3 000 ₽','5 000 ₽','10 000 ₽','Другая сумма']
                label.donat-form__label
                    input.donat-form__input(type="radio" name="donat")
                    span.donat-form__val
                        = item
                        if(i === 0)
                            svg(width='12' height='12' viewBox='0 0 12 12' fill='none')
                                g(clip-path='url(#clip0_37_462)')
                                    path(d='M6.75 8.625H6.375V5.27325C6.375 5.26912 6.37387 5.26538 6.37387 5.26163C6.37387 5.25787 6.375 5.25413 6.375 5.25C6.375 5.043 6.207 4.875 6 4.875H5.25C5.043 4.875 4.875 5.043 4.875 5.25C4.875 5.457 5.043 5.625 5.25 5.625H5.625V8.625H5.25C5.043 8.625 4.875 8.793 4.875 9C4.875 9.207 5.043 9.375 5.25 9.375H6.75C6.957 9.375 7.125 9.207 7.125 9C7.125 8.793 6.957 8.625 6.75 8.625ZM6 4.125C6.41437 4.125 6.75 3.789 6.75 3.375C6.75 2.961 6.41437 2.625 6 2.625C5.58563 2.625 5.25 2.961 5.25 3.375C5.25 3.789 5.586 4.125 6 4.125ZM6 0C2.6865 0 0 2.68613 0 6C0 9.31388 2.68613 12 6 12C9.31388 12 12 9.31388 12 6C12 2.68613 9.31388 0 6 0ZM6 11.2616C3.105 11.2616 0.75 8.89462 0.75 5.99962C0.75 3.10462 3.105 0.749625 6 0.749625C8.895 0.749625 11.25 3.10462 11.25 5.99962C11.25 8.89462 8.895 11.2616 6 11.2616Z' fill='#000')
                                defs
                                    clippath#clip0_37_462
                                        rect(width='12' height='12' fill='#000') 
                        if(i === 8)
                            span ₽
        p.donat-form__info Минимальная сумма пожертвования — 50 ₽
        button.button.donat-form__button Перейти к оплате