:root{

    --color-1: #000;
    --color-2: #55BDAD;
    --color-3: #64282D;
    --color-4: #F9F9F9;
    --color-5: #0E4038;
    --color-6: #1E8E7C;
    --color-7: #F4F4F4;
    --color-8: #F6F6F6;
    --color-9: rgba(0,0,0,0.4);
}

// MIXINS
	// @mixin NAMEMIXIN
